* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 60vh;
    background: linear-gradient(black,#101e23, black);   
    margin-top: 250px;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
   
  }

h1 {
    color: white;
    text-align: center;
    font-size: 1em;
    font-family: arial;
    position: relative;
    transition: 0.3s;
    transition-delay: 0.2s;
    display: inline-block;
    cursor: pointer;
}

h1:hover {
  color: white;
}

h1:hover::before {
    top: 0;
    left: 100%;
  transform: scaleZ(0);
  opacity: 1;
}


h1::before {
   content: "";
   position: absolute;
   width: 20%;
   height: 90%;
   background: red;
   bottom: 0;
   left: 0%;
   transition: 0.3s;
   z-index: 1;
   opacity: 0;
}

h1::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 2%;
  background: red;
  bottom: 0;
  right: 0;
  transition: 0.2s;
  transition-delay: 0.2s;
  z-index: 1;
  opacity: 0;
}

h1:hover::after {
   width: 100%;
   background: red;
   opacity: 1;
}
